<div class="navBar">
  <a href='/' class='noDec'>
    <div class="dashLogo">
        <img class="dashIcon" src='../public/watericon.png'>
        <div class='dashText'>chute</div>
    </div>
  </a>
  <div class='navLink'>
    <a class='noDec' href='/dashboard'>
      <div class='linkText'>Dashboard</div>
    </a>
    <div> - </div>    
    <a class='noDec' href='/profile/<%= user._id %>'>
      <div class='linkText'>Profile</div>
    </a>
    <div> - </div>
    <a class='noDec' href='/account/<%= user._id %>'>
      <div class='linkText'>Account</div>
    </a>
    <div> - </div>
    <a class='noDec' href='/users/logout'>
      <div class='linkText'>Logout</div>
    </a>
  </div>
</div>
<div class='botBorder'></div>
<div class='mainCont'>
  <div class='meCont'>
    <div class='picCont'>
      <img class='dashPicture' src="<%= user.image %>">
      <div class='user'>
        <div class='userName'><%= user.name %></div>    
        <div class='userEmail'><%= user.email %></div>        
      </div>
    </div>
    <div class="recText">Recent Posts:</div>
    <% userposts.forEach(function(post) { %>
      <a class='noDec' href='/post/<%= post._id %>'>  
        <div class='recPost'><%= post.title %> - <%= post.date.toDateString(); %></div>
      </a>
    <% }); %>
  </div>
  <div class='content'>
    <div class='newChute'></div>
    <div class="allChute"></div>
  </div>
</div>