    <a href="/dashboard">Go back</a>
    <h1>New Post:</h1>
    <h1><%= title %></h1>
    <p><%= body %></p>
    <% include ./partials/messages %>
    <form action="/users/comment/<%= _id %>" method="POST">
        <div class="form-group">
          <input
            type="text"
            id="content"
            name="content"
            class="form-control"
            placeholder="add comment.."
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Submit Comment
        </button>
    </form>
    <% comments.forEach(function(comment) { %>
      <h1><%= comment.content %></h1>
      <a href="/profile/<%= comment.author._id %>"><%= comment.author.name %></a>
      <h1><%= comment.date %></h1>
    <% }); %>
     

