<div class="navBar">
    <a href='/' class='noDec'>
      <div class="dashLogo">
          <img class="dashIcon" src='../public/watericon.png'>
          <div class='dashText'>chute</div>
      </div>
    </a>
    <div class='navLink'>
      <a class='noDec' href='/dashboard'>
        <div class='linkText'>Dashboard</div>
      </a>
      <div> - </div>    
      <a class='noDec' href='/profile/<%= session._id %>'>
        <div class='linkText'>Profile</div>
      </a>
      <div> - </div>
      <a class='noDec' href='/account/<%= session._id %>'>
        <div class='linkText'>Account</div>
      </a>
      <div> - </div>
      <a class='noDec' href='/users/logout'>
        <div class='linkText'>Logout</div>
      </a>
    </div>
  </div>
<div class='botBorder'></div>
<div class='rFlex'>
  <div class="profName"><%= user.name %></div>
</div>
<div class='profPostCont'>
    <div class='profPost'>
      <div class="columnFlex">
        <a class='noDec' href='/profile/<%= user._id %>'>
          <img class='postPagePicture' src="<%= user.image %>">
        </a>
        <a class='noDec' href='/profile/<%= user._id %>'><%= user.name %></a>
      </div>
      <div class='myDesc'>
          <% include ./partials/messages %>
          <div>About me:</div>
          <br>
          <%= user.desc %></div>
    </div>
</div>
<div class='allFlex'>
  <div class='Posts'> <%= user.name %>'s Chutes:</div>
    <% posts.forEach(function(post) { %>
    <div class="allChute">
      <div class='eachPost'>
        <div class="columnFlex">
          <a class='noDec' href='/profile/<%= user._id %>'>
            <img class='postPicture' src="<%= user.image %>">
          </a>
          <a class='noDec' href='/profile/<%= post.user._id %>'><%= user.name %></a>
          <div><%= post.date.toDateString(); %></div>    
        </div>
          <div class="columnFlex postBody">
            <a class='noDec' href='/post/<%= post._id %>'>  
              <div class='postTitle'><%= post.title %></div>
            </a>
            <div class='overFlow'><%= post.body %></div>
            <a class='noDec' href='/post/<%= post._id %>'>  
              <div class='totalCom'>Comments: <br><%= post.comments.length; %></div>
            </a>
          </div>
          <% let thisSession = session._id.toString(); %>
          <% let thisPost = post.user._id.toString(); %>
          <% if(thisSession == thisPost) { %>
            <div class='filler'>
              <form action='/users/deletepost/<%= post._id %>' method="POST">
                <button class='deletePost' type="submit">Delete</button>
              </form>    
            </div>
         <% } else { %>
           <div class='filler'></div>
         <% } %>
      </div>
    </div>
  <% }); %>
</div>